<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tiqr.glass" >

    <!-- Permissions for internet access and account access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Custom voice command -->
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
<activity
    android:name=".main.MainActivity"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name" >
    <intent-filter>
        <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
    </intent-filter>
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>

    <meta-data
        android:name="com.google.android.glass.VoiceTrigger"
        android:resource="@xml/authenticate_voice_trigger" />
</activity>
        <activity android:name=".general.ErrorActivity" />
        <activity android:name=".authentication.AuthenticationIdentitySelectActivity" />
        <activity android:name=".authentication.AuthenticationConfirmationActivity" />
        <activity android:name=".authentication.AuthenticationSummaryActivity" />
        <activity android:name=".enrollment.EnrollmentConfirmationActivity" />
        <activity android:name=".enrollment.EnrollmentSummaryActivity" />
        <activity android:name=".about.AboutActivity" />
        <activity android:name=".identity.IdentityAdminActivity" />
    </application>

</manifest>
